// D3 IN ACTION

@import "utilities/variables";
@import "utilities/mixin";

html, body{
	  background-color: rgba($gray-lighter, 1);

}

/* CODE */
code{
	border: none;
}

/* MAIN TAGS */
article {
    margin: 40px auto 40px auto;
    float: left;
    clear: both;
    position: relative;
    width: 100%;
    height: auto;
}

h1{
	@include rem(font-size, 3.5rem)
}
h2{
	@include rem(font-size, 3rem)
}
h3{
	@include rem(font-size, 2.6rem)
}
h4{
	@include rem(font-size, 2.2rem)
}
h5{
	@include rem(font-size, 1.8rem)
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
    @include rem(margin-bottom, 1rem)
}
ul li p{
	@include rem(font-size, 1.6rem);
}

p{

	&.caption{

		@include rem(margin-top, 20px)
	}

}


pre[class*="language-"] {
    margin: 2rem 0;
}


// Buttons
// Alternate buttons
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_buttons.scss
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}

// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}

/* MAIN HEADER */




/* Shadows */
.box-shadow{
    transform: translateZ(0);
	-webkit-box-shadow: 0 2px 8px -4px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 8px -4px rgba(0,0,0,.3);
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.3);
	
}




// Fig_01_26.html

#Fig_01_26{
	
	#d3-container{
		div{
			@include clearfix;
			&:first-child{
				width: 200px;
				height: 50px;
				border: 1px solid $gray-dark;
			}
		}	
	}	
}